* {
    /* Colours */

    --Red: hsl(347, 73%, 55%);
    --Green: hsl(130, 88%, 33%);
    --Blue: hsl(192, 77%, 43%);
    --Orange: hsl(39, 86%, 48%);
    --White: hsl(0, 0%, 100%);
    --Black: hsl(0, 0%, 0%);

  }  
  
  html {
   background-color: var(--White);
   font-family: Hanken Grotesk, sans-serif;
   font-size: 16px;
   text-wrap: pretty;
  }

  ::selection {
    color: var(--Orange);
    background: var(--White);
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  h1 {
    font-size: 36px;
    margin-top: 40px;
    padding-bottom: 20px;
    text-align: center;
  }
  
  h2 {
      font-size: 20px;
      margin-top: 35px;
      margin-bottom: 15px;
      text-align: center;
  }

  h3 {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  p {
    text-align: left;
    padding-inline: auto;
    color: var(--Black);
  }

  label {
    text-align: center;
    font-size: 15px;
  }

  b {
    color: var(--Orange);
  }
  
  br {
    margin-block: 5px;
  }

  a {
    color: var(--Blue); 
    text-decoration: none;
  }
  
  main {
    background-color: var(--White);
    display: flex;
    flex-direction: column;
    max-width: 1600px;
  }
  
  img {
    width: 100%;
  }

  video {
    width: 100%;
  }

  .tasks {
    margin-bottom: -50px;
}

hr {
    width: 100%;
}

  .moodboard {
    display: flex;
    margin: auto;
    aspect-ratio: 16 / 9;    
    width: 100%;
    background-color: aliceblue;
    }

    .moodboardimage {
    width: 100%;
    background-size: contain;
    background-image: url(moodboard.jpg);
  }

  .imagegallery {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
  
  .socialmedia {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--Black);
    color: var(--White);
    align-items: center;
  }

  .post {
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-bottom: 5px;
  }

  .insta {
    display: flex;
    width: fit-content;
    margin-bottom: -34px;
  }

  .iconcontainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
    margin: auto;
}

.icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    max-width: 500px;
    min-height: 250px;
    margin: 0.5rem;
    padding-top: 200px;
    padding: 2rem 1rem 0rem 1rem;
    background-color: hsla(39, 86%, 48%, 0.25);
    border-radius: 20px;
  }

.icons p {
    text-align: center;
}

  .icons img {
    width: 100px;
  }

  .product {
    width: 400px;
    align-self: center;
  }

  @media screen and (max-width: 1000px) {

      .iconcontainer {
        flex-direction: column;
        margin: 1rem;
    }

    .icons {
     padding: 1.25rem 1rem 0rem 1rem;
    min-height: 100px;
    }

    .icons img {
        width: 75px;
    }

  }
  
  @media screen and (max-width: 700px) {

    main {
      display: flex;
      flex-direction: column;
    }

    h1 {
      font-size: 24px;
    }
  
    h2 {
      font-size: 18px;
      margin-top: 35px;
    }
  
    p {
      font-size: 15px;
    }

    label {
        font-size: 14px;
    }

    .moodboard {
        display: flex;
        margin: auto;
        aspect-ratio: 9 / 16;    
        width: 100%;
        background-color: aliceblue;
    }
    
    .moodboardimage {
        width: 100%;
        background-size: contain;
        background-image: url(moodboard_mobile.jpg);
    }
  
    .imagegallery {
        display: flex;
        flex-direction: column;
    }
    
      .post {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
  
  }
  